<% provide :title, "Search" %>
<h1>New (Search Results)</h1>
<%= render partial: 'search_form' %>
<% if @apartments %>
	<% @apartments.each do |apartment| %>
		<div class="row">
			<div class="col-lg-12">
			<%= image_tag(apartment.image_tag, class: 'image-responsive') %>
				<%= form_for apartment, url: {action: "create"}, :html => { :multipart => true } do |apartment_form| %>
					<%= apartment_form.hidden_field :name, :value => apartment.name %>
					<%= apartment_form.hidden_field :city, :value => apartment.city %>
					<%= apartment_form.hidden_field :state, :value => apartment.state %>
					<%= apartment_form.hidden_field :zip, :value => apartment.zip %>
					<%= apartment_form.hidden_field :phone, :value => apartment.phone %>
					<%= apartment_form.hidden_field :max_bedrooms, :value => apartment.max_bedrooms %>
					<%= apartment_form.hidden_field :min_bedrooms, :value => apartment.min_bedrooms %>
					<%= apartment_form.hidden_field :min_price, :value => apartment.min_price %>
					<%= apartment_form.hidden_field :max_price, :value => apartment.max_price %>
					<%= apartment_form.hidden_field :image_tag, :value => apartment.image_tag %>
					<%= apartment_form.hidden_field :detail_page, :value => apartment.detail_page %>
					<%= apartment_form.hidden_field :remote_image_url, :value => apartment.image_tag %>
					<%= link_to_submit( class: 'testing' ) do %>
						<strong><%= apartment.name %></strong>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
<% else %>
<h2>No Results</h2>
<% end %>
