<h1> apartments! </h1>
<h2> <%= @apartment.name %> </h2>
<%= image_tag(@apartment.image_url) %>
<p> city <%= @apartment.city %> </p>
<p> state <%= @apartment.state %> </p>
<p> zip <%= @apartment.zip %> </p>
<p> phone <%= @apartment.phone %> </p>
<p> maxbr <%= @apartment.max_bedrooms %> </p>
<p> minbr <%= @apartment.min_bedrooms %> </p>
<p> minprice <%= @apartment.min_price %> </p>
<p> maxprice <%= @apartment.max_price %> </p>
<p> imagetag <%= @apartment.image_tag %> </p>
<p> address <%= @apartment.address %> </p>
<p> desc <%= @apartment.description %> </p>

<% @apartment.reviews.each do |thisreview| %>
	<p> review <%= thisreview.body %> </p>
<% end %>