<h1> apartments! </h1>
<h2> <%= @apartment.name %> </h2>
<p> city <%= @apartment.city %> </p>
<p> state <%= @apartment.state %> </p>
<p> zip <%= @apartment.zip %> </p>
<p> phone <%= @apartment.phone %> </p>
<p> maxbr <%= @apartment.max_bedrooms %> </p>
<p> minbr <%= @apartment.min_bedrooms %> </p>
<p> minprice <%= @apartment.min_price %> </p>
<p> maxprice <%= @apartment.max_price %> </p>
<p> imagetag <%= @apartment.image_tag %> </p>

oieshrgoierergh <%= image_tag(@apartment.image_url) %>